body {
  background-color: #5b8c85;
  border: grey;
}

li:hover {
  cursor: pointer;
}

ul {
  list-style-type: none; 
}

.card-body {
  background-color: #434e52;
}

.form-control {
  background-color: darkslategray;
}

.card-title {
  background-color: #434e59;
  text-align: center;
}
.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
}
  
.container {
  height: 90vh;
}

